<div id="carousel"></div>
<hr>
<div class="item clearfix row">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Content</span>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="main col-md-12 pull-right">
    <textarea id="text" rows="5" width="100%" class="form-control" ui-tinymce="ContentHome.descriptionWYSIWYGOptions"
      ng-model="ContentHome.data.content.description" placeholder="WYSIWYG"></textarea>
  </div>
</div>
<br>
<div id="feeds"></div>
<br>
<div id="rssFeedDialog" class="subPage">
  <div class="spHeader padded">
    <h4 class="spHeaderText">Entity Title</h4>
    <a><span class="icon icon-cross2 close-modal"></span></a>
  </div>
  <div class="modal-body padded">
    <div class="form-group">
      <label for="title">Feed Name</label>
      <div class="bf-tooltip margin-left-ten">
        <div class="tooltip-icon primary-bg">!</div>
        <div class="tooltip-content to-bottom">
          If you add more feeds, this will be the tab name on the widget. If you have only one feed, the tab name will not be visible on the widget.
        </div>
      </div>
      <input type="text" class="form-control" id="rssFeedTitle" placeholder="Title" required>
    </div>
    <div class="form-group">
      <label for="title">RSS URL</label>
      <div class="bf-tooltip margin-left-ten">
        <div class="tooltip-icon primary-bg">!</div>
        <div class="tooltip-content to-bottom">
          Enter the URL of the RSS source you wish to display. Using secure websites (HTTPS) is recommended as as some
          systems may require it.
        </div>
      </div>
      <input type="text" class="form-control" id="rssFeedUrl"
        placeholder="https://news.un.org/feed/subscribe/en/news/all/rss.xml" required>
      <span id="rssErrorMessage" style="display: none;"></span>
      <span>To prevent issues with your feed, make sure to validate it using the <a href="https://validator.w3.org/feed/" target="_blank">RSS Feed Validator</a></span>
    </div>
  </div>
  <div class="spFooter padded">
    <button href="#" class="btn spDeleteButton">Cancel</button>
    <button id="saveButton" class="btn btn-success spSaveButton" disabled>Save</button>
  </div>
</div>

<div id="googleFeedDialog" class="subPage">
  <div class="spHeader padded">
    <h4 class="spHeaderText">Entity Title</h4>
    <a><span class="icon icon-cross2 close-modal"></span></a>
  </div>
  <div class="modal-body padded">
    <div class="form-group">
      <label for="title">Feed Name</label>
      <div class="bf-tooltip margin-left-ten">
        <div class="tooltip-icon primary-bg">!</div>
        <div class="tooltip-content to-bottom">
          If you enable other feeds, this will be the tab name. If you're showing only one feed, you can leave this
          field empty.
        </div>
      </div>
      <input type="text" class="form-control" id="googleFeedTitle" placeholder="Title" required>

    </div>
    <div class="form-group">
      <label for="title">Keywords</label>
      <div class="bf-tooltip margin-left-ten">
        <div class="tooltip-icon primary-bg">!</div>
        <div class="tooltip-content to-bottom">
          Add keywords separated by commas, which will be used to search relevant articles in Google News. Maximum of two keywords is allowed.
        </div>
      </div>
      <input type="text" class="form-control" id="googleFeedKeywords" placeholder="Sports, NBA" required>
      <span id="googleErrorMessage" style="display: none;"></span>
    </div>
  </div>
  <div class="spFooter padded">
    <button href="#" class="btn spDeleteButton">Cancel</button>
    <button id="saveButton" class="btn btn-success spSaveButton" disabled>Save</button>
  </div>
</div>
