/* Plugin CSS */
.plugin-slide img, .plugin-slide  {
	max-height: none !important;
}
.media-center-plugin.layout2 .people-banner .people-bg{
	background:rgba(0,0,0,0.8);
}
.media-center-plugin.layout2 .people-banner .people-info{
	color:#fff;
}
.layout2 .people-banner .people-media img{
	max-width:140px;
	max-height:140px;
}
.media-center-plugin.layout2 .people-banner .people-info h5 + h5{
	line-height:18px;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
.media-layout .media-item:nth-child(odd){
	padding-left:15px !important;
	padding-right:7.5px !important;
}
.media-layout .media-item:nth-child(even){
	padding-left:7.5px !important;
	padding-right:15px !important;
}
.media-layout .media-item{
	margin-bottom:15px;
}
.media-layout .media-item .media-holder{
	background:#eef0f0;
	position:relative;
	border-radius:3px 3px 0 0;
	overflow:hidden;
}
.media-layout .media-item .media-copy{
	border-radius:0 0 3px 3px;
	padding:6px 10px;
}
.media-layout .media-item .media-holder .media-img-holder{
	max-width:450px;
	margin:0 auto;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(odd){
	padding-left:10px !important;
	padding-right:5px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(even){
	padding-left:5px !important;
	padding-right:10px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item{
	margin-bottom:10px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .media-holder .media-img-holder{
	max-width:200px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .info-bar{
	padding:6px 0;
}

/* List Items */
.list-items .list-item{
	position:relative;
}
.list-items .list-item:before,
.layout3 .list-layout .list-item:after{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.layout3 .list-layout .list-item:after{
	border-top:none !important;
	top:inherit;
	bottom:0;
	border-bottom:1px solid #ddd !important;
}
.list-items .list-item + .list-item{
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
.list-layout .list-item-media{
	position:relative;
	left:0;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.now-playing:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background:#09a3ee;
}
.list-layout .list-item-media.edit{
	left:-60px;
}
.list-layout .list-item-media .remove-btn{
	position:absolute;
	top:0;
	right:-120px;
	padding:25px 0;
	width:100px;
	height:100%;
	color:#fff;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.edit .remove-btn{
	right:-60px;
}
.list-layout .list-item-media.edit .btns{
	right:58px;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
	position: relative;
}
.list-layout .list-item-copy{
	padding:10px 0;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	position:relative;
}
.layout3 .list-layout:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.layout3 .list-layout .list-item-media{
	background:none;
}
.layout3 .list-layout .list-item-media .list-media-holder{
	width:110px;
	height:60px;
	line-height:58px;
	margin:inherit;
	margin-right:10px;
	background:#efefef;
	border-radius:4px;
	margin:5px 10px 5px 5px;
	text-align:center;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder{
	line-height:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder.square-icon{
	width:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	border-radius:2px;
}
.layout3 .list-layout .list-item-media .list-media-holder .main-icon{
	font-size:44px;
	position:relative;
	top:8px;
}
.layout3 .list-layout .list-item{
	padding:0;
	position:relative;
}
.layout3 .list-layout .list-item-copy{
	padding:6px 10px 5px;
}
/* .layout4 .list-layout .list-item + .list-item{
	padding-left:inherit;
	padding-right:inherit;
}
.layout4 .list-layout .list-item:nth-child(even){
	padding-left:8px !important;
	padding-right:15px !important;
}
.layout4 .list-layout .list-item:nth-child(odd){
	padding-left:15px !important;
	padding-right:8px !important;
} */
/* End Plugin CSS */

/*
* Styling for list layout elements
*/
.list-layout {
    overflow: hidden;
}

/*Style to fix the audio player ui*/
.audio-player{
	overflow: hidden !important;
	position: fixed;
	width: 100%;
	height: 100%;
}

/*
* Set height of body to auto for enabling scroll
*/

.body-scroll {
    height: auto !important;
}

/*
* Styling for audio player
*/
.playerMP {
    padding-left: 5px;
    padding-right: 5px;
}

.back-color {
    background-color: black !important;
    padding: 0 !important;
}

.audio-plyer input[type=range] {
	-webkit-appearance: none;
	margin: 0;
	height: 32px;
	width: 100%;
}

.audio-plyer input[type=range]:focus {
	outline: none;
}

.audio-plyer input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	background: #ffffff;
}

.audio-plyer input[type=range]::-webkit-slider-thumb {
	height: 9px;
	width: 9px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -2.7px;
	border-radius: 4.5px;
}

.audio-plyer input[type=range]:focus::-webkit-slider-runnable-track {
	/*background: #367ebd;*/
}

.audio-plyer input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	background: #ffffff;
}

.audio-plyer input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
	border-radius: 10px;
}

.audio-plyer input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

.audio-plyer input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.audio-plyer input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.audio-plyer input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

.audio-plyer input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
}

.audio-player input[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
}
/* End of audio player style*/

.layout1-detail .audio-player-holder {
    display: table;
    text-align: center;
    margin: 0 auto;
}
.layout2 .audio-player-holder {
    display: table;
    text-align: center;
    max-width: 260px;
    max-height: 200px;
    margin: 0 auto;
}

.media-player-btns,
.holder.now-playing .media-player-info,
.media-header-link {
		margin-bottom: 15px;
		padding: 24px 0;
		flex-shrink: 0;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
}
.media-header-link{
	padding: 0;
}
.media-header-link .btn.btn-icon{
	margin-left: auto;
}
.slider{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 4px;
}
.slider .time-indicator span{
	font-size: 12px;
	color: #fff;
	opacity: .7;
	margin: 0 6px;
}

.customBackground {
    background-position: center center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-origin: initial;
    background-clip: initial;
    background-attachment: fixed;
}

.backButton {
    float: left;
    margin-left: 2px;
    position: absolute;
    z-index: 99;
}

/*style for the info showed when feed items not available*/
.items-info {
    margin-left: 30px;
    margin-top: 15px;
}

/*Style to fix height and width of description images*/
#description img {
    height: auto !important;
    width: 100% !important;
}

/*Styles for Audio player Slider*/
.slider-block {
    width: 77%;
    padding-left: 10px;
    padding-right: 10px;
}

.slider-block input[type=range] {
    cursor: pointer;
}

.padding0 {
    padding: 0px !important;
}

.clear-both {
    clear: both;
}

.video-container-background,videogular, [videogular]{
    background-color: transparent !important;
}

videogular vg-controls, [videogular] vg-controls
{
    overflow: hidden !important;
    height:45px !important;
}

/* Play Btn */
.play-btn{
	position:relative;
}
.play-btn:after{
	content:"\e612";
	font-family:'icomoon';
	position:absolute;
	width:30px;
	height:26px;
	color:#fff;	
	font-size:30px;
	line-height:24px;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-15px;
}
.list-item-media .list-media-holder.play-btn:after{
	font-size:24px;
	width:24px;
	margin-left:-12px;
	margin-top:-12px;
}

/* Link Items */

.link-list {
	padding-right: 1em;
}

.link-list a {
	color: inherit;
	text-decoration: none;
}
.link-list a:hover {
	color: inherit;
}
.link-list a i {
	font-size: 20px;
	padding: 14px;
}

.link-list a.media-action {
	margin-left: 16px;
}

.link-list a.media-action:active i {
	transform: translateY(1px);
}

.link-list a.media-action i {
	width: 44px;
	height: 44px;
	font-size: 22px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	transition: all 0.3s ease;
}
.link-list a.media-action.video i {
	letter-spacing: -4px;
}


/* Plugin CSS */
.media-center-plugin.layout2 .people-banner .people-bg{
	background:rgba(0,0,0,0.8);
}
.media-center-plugin.layout2 .people-banner .people-info{
	color:#fff;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
.media-layout .media-item:nth-child(odd){
	padding-left:15px !important;
	padding-right:7.5px !important;
}
.media-layout .media-item:nth-child(even){
	padding-left:7.5px !important;
	padding-right:15px !important;
}
.media-layout .media-item{
	margin-bottom:15px;
}
.media-layout .media-item .media-holder{
	background:#eef0f0;
	position:relative;
	border-radius:3px 3px 0 0;
	overflow:hidden;
}
.media-layout .media-item .media-copy{
	border-radius:0 0 3px 3px;
	padding:6px 10px;
}
.media-layout .media-item .media-holder .media-img-holder{
	max-width:450px;
	margin:0 auto;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(odd){
	padding-left:10px !important;
	padding-right:5px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(even){
	padding-left:5px !important;
	padding-right:10px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item{
	margin-bottom:10px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .media-holder .media-img-holder{
	max-width:200px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .info-bar{
	padding:6px 0;
}

/* List Items */
.list-items .list-item{
	position:relative;
}
.list-items .list-item:before,
.layout3 .list-layout .list-item:after{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.layout3 .list-layout .list-item:after{
	border-top:none !important;
	top:inherit;
	bottom:0;
	border-bottom:1px solid #ddd !important;
}
.list-items .list-item + .list-item{
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
/* .list-layout .list-item{
	padding-left:15px;
	padding-right:8px;
}
.list-layout .list-item + .list-item{
	padding-left:8px;
	padding-right:15px;
} */
.list-layout .list-item-media{
	position:relative;
	left:0;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.now-playing:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background:#09a3ee;
}
.list-layout .list-item-media.edit{
	left:-60px;
}
.list-layout .list-item-media .remove-btn{
	position:absolute;
	top:0;
	right:-120px;
	padding:25px 0;
	width:100px;
	height:100%;
	color:#fff;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.edit .remove-btn{
	right:-60px;
}
.list-layout .list-item-media.edit .btns{
	right:58px;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
}
.list-layout .list-item-copy{
	padding:10px 0;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	position:relative;
}
.layout3 .list-layout:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.layout3 .list-layout .list-item-media{
	background:none;
}
.layout3 .list-layout .list-item-media .list-media-holder{
	width:110px;
	height:60px;
	line-height:58px;
	margin:inherit;
	margin-right:10px;
	background:#efefef;
	border-radius:4px;
	margin:5px 10px 5px 5px;
	text-align:center;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder{
	line-height:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder.square-icon{
	width:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	border-radius:2px;
}
.layout3 .list-layout .list-item-media .list-media-holder .main-icon{
	font-size:44px;
	position:relative;
	top:8px;
}
.layout3 .list-layout .list-item{
	padding:0;
	min-height:71px;
	position:relative;
}
.layout3 .list-layout .list-item-copy{
	padding:6px 10px 5px;
}

.layout1-detail .holder.now-playing{
	margin-top:0;
	height:100%;
	color:#fff;
}

.layout2 .holder.now-playing{
	margin-top:0;
	height:100%;
	padding: 24px 0 !important;
	color:#fff;
}

.holder.now-playing .blurred-image{
	-o-filter:blur(10px) brightness(0.2);
	-moz-filter:blur(10px) brightness(0.2);
	-webkit-filter:blur(10px) brightness(0.2);
	filter:blur(10px) brightness(0.2);
	position:absolute;
	top:-5%;
	left:-5%;
	background:url(http://4.bp.blogspot.com/-8bBgFCVGbpE/TvQU6q_f7qI/AAAAAAAAAEk/b2QtDIIbv4I/s1600/Tycho-Dive.png) no-repeat center center;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
	height:110%;
	width:110%;
	z-index:0;
}
.holder.now-playing .media-center-plugin{
	position: relative;
	height: 100%;
	padding-bottom: calc(20px + env(safe-area-inset-bottom));
	max-width: 660px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.holder.now-playing .media-holder,
.more-info .media-holder{
	display:table;
	text-align:center;
	width:220px;
	height:220px;
	max-width:220px;
	max-height:220px;
	margin:0 auto;
}
.holder.now-playing .media-holder .media-inner,
.more-info .media-holder .media-inner{
	max-width:220px;
	max-height:220px;
	display:table-cell;
	vertical-align:middle;
}
.media-player-more-info .media-holder,
.media-player-more-info .media-holder .media-inner{
	height:140px !important;
	width:140px !important;
}
.holder.now-playing .media-holder .media-inner img,
.more-info .media-holder .media-inner img{
	max-height:100%;
	width:auto;
}
.holder.now-playing .media-holder .media-inner img{
	max-width:100%;
	max-height:100%;
	border-radius: 8px;
	width: 240px;
	height:240px;
	object-fit: cover;
	box-shadow: 0 0 16px rgba(0,0,0,.5);
}
.holder.now-playing .media-player-info{
	padding: 0;
	padding-top: 24px;
	padding-bottom: 4px;
	justify-content: center;
}
.btn.btn-icon{
	background-color: transparent;
	border: 0;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	flex-shrink: 0;
	font-size: 20px;
	padding: 0;
}
button.btn-icon.btn-lg{
	width: 64px;
	height: 64px;
	padding: 0;
	box-shadow: 0 4px 16px rgba(0,0,0,.5);
}
.holder.now-playing .media-player-btns button.btn-icon.btn-lg .icon.icon-main{
	top: auto;
}
.holder.now-playing .media-player-info .media-title{
	margin: 0 12px;
}
/* .holder.now-playing .media-player-info .media-title h4{
	animation: marquee 6s 6s infinite;
	animation: marquee 8s ease 3s infinite fill-mode;
	text-overflow: 0;
}
@keyframes marquee{
	20%,100%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(-100%);
	}
} */
.holder.now-playing .media-player-info h4,
.holder.now-playing .media-player-info p{
	margin:0;
	line-height: 1.5em;
}
.holder.now-playing .media-player-info h4{
	font-size: 16px;
	font-weight: bold;
	margin-bottom:8px;
}
.holder.now-playing .media-player-info p{
	font-size: 12px;
	opacity: .7;
}
.holder.now-playing .media-header-link a{
	color:#fff;
}
.holder.now-playing .media-player-action-btns{
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.holder.now-playing .media-player-action-btns span{
	opacity: .5;
}
.holder.now-playing .media-player-action-btns span,
.holder.now-playing .media-player-info span,
.holder.now-playing .media-player-btns span{
	font-size: 18px;
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 48px;
	border-radius: 50%;
	height: 48px;
	cursor: pointer;
}
.holder.now-playing .media-player-btns span{
	transition: none;
}
.holder.now-playing .media-player-action-btns .media-center-btn{
	margin: 12px 16px 0 16px;
}
.holder.now-playing .media-player-btns .icon.icon-sm{
	font-size:22px;
	position:relative;
	color:#999;
}
.holder.now-playing .media-player-btns .icon.icon-main{
	font-size:58px;
	position:relative;
	top:6px;
}
.holder.now-playing .media-player-btns .player-btns{
	display: flex;
	align-items: center;
}
.holder.now-playing .media-player-btns .player-btns .btn-primary{
	margin: 0 16px;
}

/* Media Player Playlist Overlay */
.media-player-list-layout.layout3 .list-layout .list-item{
	border-bottom:1px solid #333;
}
.media-player-list-layout.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}

/* Media Player More Info Overlay */
.media-player-more-info .more-info-list .item{
	border-bottom:1px solid #333;
}
.media-player-more-info .more-info-list .item:first-child{
	border-top:1px solid #333;
}
.media-player-more-info .more-info-list .item a{
	color:#fff;
	padding:10px;
	display:block;
	font-size:15px;
	line-height:20px;
}

/* Media Player Settings Overlay */
.media-player-settings .settings-list .item{
	border-bottom:1px solid #333;
	padding:12px 0;
}
.media-player-settings .settings-list .item:first-child{
	border-top:1px solid #333;
}
.media-player-settings .settings-list .item span{
	color:#fff;
	font-size:15px;
	line-height:20px;
}
.media-player-settings .settings-list .checkbox label::after,
.notification-plugin .notification-item .checkbox label::after{
	left:-1px;
}

@media(max-height: 600px){
	/* .holder.now-playing .media-center-plugin{
		height:464px;
	} */
	.holder.now-playing .media-holder,
	.holder.now-playing .media-holder .media-inner img{
		max-height: 120px;
    max-width: 120px;
	}
	.holder.now-playing .media-player-btns .icon{
		font-size:32px;
	}
	.holder.now-playing .media-player-btns .icon.icon-main{
		font-size:52px;
	}
	.holder.now-playing .media-player-btns .icon.icon-sm{
		top:-5px;
	}
}

@media(max-height: 470px){
	.holder.now-playing .media-center-plugin{
		height:248px;
		margin-top:-124px;
	}
	.holder.now-playing .media-holder{
		display:none;
	}
}
/* End Plugin CSS */


.list-layout .list-item-copy p.summary{
	margin:-5px 0 !important;
}
.body-scroll {
	height: auto !important;
}
/* .list-layout .col-xs-6:nth-child(odd){
	padding-left:15px !important;
	padding-right:7.5px !important;
}
.list-layout .col-xs-6:nth-child(even){
	padding-left:7.5px !important;
	padding-right:15px !important;
} */
.layout3 .text-overlay .padded p.track-title{

}

/*Styles for slider*/
.playerMP {
	width: 100%;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.playerMP div {
	width: 15%;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
	line-height: 36px;
}

.playerMP div:nth-child(2) {
	width: 70%;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;  
  margin: 10px 0;
	width: 100%;
	background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #fff;
  background: #fff;
  border-radius: 1px;
  border: 0px solid #fff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #fff;
  border: 1px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #fff;
  background: #fff;
  border-radius: 1px;
  border: 0px solid #fff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #fff;
  border: 1px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border: 0px solid #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #fff;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border: 0px solid #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #fff;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #fff;
  border: 1px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}
/* Styles for volume slider*/

.volume input[type=range] {
	-webkit-appearance: none;
	margin: 0 0;
	width: 100%;
}

.volume input[type=range]:focus {
	outline: hidden;
}

.volume input[type=range]::-webkit-slider-runnable-track {
	width: 25px;
	height: 20px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-radius: 10px;
	-webkit-appearance: none;
}

.volume input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-left: -5px;
	border-radius: 10px;
}

.volume input[type=range]:focus::-webkit-slider-runnable-track {
	background: darkblue;
}

.volume input[type=range]::-moz-range-track {
	height: 12px;
	width: 7px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

.volume input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 16px;
	width: 17px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

.volume input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

.volume input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.volume input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.volume input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 26px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

.volume input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
}

.volume input[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
}
input.volume-button[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
}


.duration-ui{
	float: right;
	font-size: 13px;
}
.layout1 .duration-ui,
.layout4 .duration-ui{
	position:relative;
	top:8px;
}
.playcount-ui,
.pausecount-ui,
.duration-ui{
	font-size:11px;
	font-style:italic;
}
.layout3 .duration-ui{
	margin-top:4px;
}
.layout2.layout3 .duration-ui{
	margin-top:-18px;
}

.noTracksMsg
{
	background-color: lightgrey;
	padding: 10px 10px 10px 90px;
	border: 1px solid grey;
	border-radius: 4px;
}

.clickable{
	cursor: pointer;
}

.playcount-ui:before {
	content: "\e612";
	font-family: 'icomoon';
	font-size: 13px;
	line-height: 24px;
	position:relative;
	top:1px;
	margin-right: 3px;
	font-style:normal;
}

.bold{
	font-weight: bold;
}

.media-player-button-selected{
	border-bottom: 1px solid;
	padding-bottom: 3px;
}

.list-layout.has-btns .list-item{
	position:relative;
}
.ecommerce-plugin .list-layout.has-cart .list-item-copy,
.list-layout.has-btns .list-item-copy{
	padding-right:88px !important;
}
.list-layout.has-cart .add-to-cart,
.list-layout.has-btns .btns{
	position:absolute;
	top:50%;
	margin-top:-16px;
	right:18px;
}
.list-layout.has-btns .btns{
	margin-top:-18px;
}
.holder .list-layout .add-to-cart,
.list-layout.has-btns .btns{
	padding:5px;
	display:inline-block;
	width:32px;
	height:32px;
}
.holder .media-layout .add-to-cart{
	padding:4px;
	width:30px;
	height:30px;
}
.holder .list-layout .add-to-cart .icon,
.holder .media-layout .add-to-cart .icon{
	font-size:18px;
	vertical-align:middle;
}
.list-layout.has-btns .btns .icon{
	font-size:24px;
	color:#fff;
}
/*///////////////// Viewed State /////////////////*/
.list-item.viewed p,
.list-item.viewed a{
	opacity: .7;
}
.list-item .list-media-holder{
	position: relative;
}
.layout1 .list-item.viewed .list-media-holder::after,
.layout2 .list-item.viewed .list-media-holder::after,
.layout3 .list-item.viewed .list-media-holder::after,
.layout4 .list-item.viewed .list-media-holder::after{
	content: '';
	display: block;
	width: 100%;
	background: #fff;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: .5;
}

.layout3 .list-item.viewed .plugin-slide {
	opacity: .5;
}
.list-item.viewed span::after{
	content: '\e60d';
	font-family: icomoon;
	opacity: 1;
	font-style: normal;
	position: absolute;
	color: #14cb5d;
	margin-left: 16px;
}
.list-layout .list-item .list-item-copy p{
	margin-bottom: 4px;
}
/*///////////////// Bookmark Icon /////////////////*/
.li-actions a{
	display: block;
}
.item-actions a{
	display: inline-block;
}
.list-item.viewed .li-actions a{
	opacity: 1;
}
.bookmark .bookmark-icon{
	width: 24px;
	height: 24px;
	display: block;
}
.bookmark, .share {
	padding: 5px;
	position: relative;
	display: inline-block;
	font-family: 'Glyphicons Halflings' !important;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.layout2 .bookmark.unmarked .bookmark-icon,
.layout3 .bookmark.unmarked .bookmark-icon,
.layout1-detail .bookmark.unmarked .bookmark-icon {
	color: #999;
}
.layout3 .bookmark,
.layout2 .bookmark,
.layout3 .share {
	color: #999;
}
.layout1 .bookmark,
.layout1 .share,
.layout4 .bookmark,
.layout4 .share {
	color: #fff;	
}
.layout1 .bookmark,
.layout4 .bookmark {
	color: #fff;
	right: 0;
}
.layout1 .list-item .list-media-holder::before,
.layout2 .list-item .list-media-holder::before,
.layout4 .list-item .list-media-holder::before {
	display: block;
	position: absolute;
	top: 0;
	content: '';
	z-index: 1;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.layout1 .list-item .li-actions,
.layout4 .list-item .li-actions{
	z-index: 2;
	position: absolute;
	font-size: 2rem;
	border-radius: 40px;
	width: 100%;
	height: 40px;
}
.layout1 .li-actions i,
.layout4 .li-actions i{
	position: absolute;
}
.ellipsis{
	display: block;
}
.list-layout .list-media-holder img {
	width: 100%;
}
/*///////////////// Share Icon /////////////////*/
.li-actions i{
	font-size: 20px;
	display: inline-block;
}
.layout1 .li-actions .share,
.layout4 .li-actions .share{
	color: #fff !important;
	left: 0;
}
.layout3 .li-actions{
	width: auto;
}
.list-layout .list-item-copy{
	margin-bottom: 4px;
}
/* Layout 2 */
.layout2 .list-layout .list-item-copy{
	padding: 0;
	flex: auto;
}
.layout2 .list-layout .list-item {
	background: none;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	border-top: 1px solid #efefef;
}
.layout2 .list-layout .list-item.no-border:first-child {
	border-top: none;
}
.layout2 .list-media-holder{
	width: 110px;
	height: 60px;
	min-height: 60px;
	border-radius: 4px;
	margin-right: 10px;
	flex-shrink: 0;
}
.layout2 .li-actions .share{
	color: #fff !important;
}
.layout2 .list-media-holder .li-actions{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.layout2 .info-group {
	display: flex;
	align-items: center;
}
.layout2 .list-item-date {
	flex: 1;
}
.layout2 .li-actions i{
	margin-left: 8px;
	position: relative;
}
.layout2 .list-media-holder .li-actions i{
	margin-left: 0;
}
/* Layout 3 */
.layout3 .li-footer {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	position: relative;
}
.layout3 .li-actions{
	position: relative;
	flex-shrink: 0;
}
.layout3 .list-item-copy a{
	margin-bottom: 8px;
}
.layout3 .li-actions i{
	margin-left: 8px;
	position: relative;
}
.layout3 .list-item-date{
	font-size: .8em;
}
/* Layout 4 */
.layout4 .list-item-container{
	padding: 0 8px;
}
/*///////////////// Item Detail View /////////////////*/
.layout1-detail .main-title,
.layout2-detail .main-title{
	font-size: 18px;
	font-weight: bolder;
	line-height: 1.25em;
	margin-bottom: 8px;
}
.layout1-detail .item-author,
.layout2-detail .item-author{
	margin-bottom: 8px;
}
.layout1-detail .item-date,
.layout2-detail .item-date{
	font-size: .8em; 
	margin-bottom: 0;
}
.layout1-detail .li-actions,
.layout2-detail .li-actions{
	display: flex;
	position: relative;
}
.item-actions{
	margin: 16px 0;
	padding: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.layout2-detail .item-actions{
	margin: 0;
	border-top: 0;
}
.layout1-detail .li-actions i,
.layout2-detail .li-actions i,
.layout1-detail .link-list i,
.layout2-detail .link-list i {
	flex-shrink: 0;
	position: relative;
	display: block;
	padding: 16px;
	flex-shrink: 0;
	top: 0;
}
.layout2-detail .li-actions .share,
.layout2-detail .li-actions .bookmark{
	color: #999 !important;
}
.plugin-slider img, .plugin-slider  {
	max-height: none !important;
}
.layout1-detail .audio-player-holder img{
	max-height: 400px;
}
.down-arrow {
    width: 2rem;
    height: 2rem;
    position: absolute;
	right: 0;
    left: 0;
	margin: auto;
    border-left: .375rem solid #fff;
    border-top: .375rem solid #fff;
    border-bottom: .375rem solid transparent;
    border-right: .375rem solid transparent;
    transform: rotate(225deg);
    animation: bounce 1s infinite linear;
}
@keyframes bounce {
    0%{margin-top:1.5rem}
    50%{margin-top:1rem}
    100%{margin-top:1.5rem}
}
#articleTitle {
	text-align: center;
    position: absolute;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
	width: 100vw;
	padding-bottom: 40px;
}
#articleTitle h3 {
	color: white !important;
	line-height: 1.5;
	padding: 0 16px;
}
#downArrow {
	position: absolute; 
	bottom: 0; 
	width: 100vw; 
	height: calc(5rem + env(safe-area-inset-bottom)/3);  
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}
.hideAndShow {
	animation-name: show;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}
@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
#fullscreenImageDiv {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.material-icons {
    font-size: 5em !important;
    font-family: 'Material Icons' !important;
    -webkit-font-feature-settings: 'liga' !important;
    display: none;
}
.mdc-tab-bar {
	margin-bottom: 20px;
}

.bf-skeleton-loader.skeleton-avatar {
	border-radius: 0 !important;
}

.mdc-tab--active .mdc-tab__text-label {
	color: black !important;
}

.mdc-tab__text-label {
	white-space: nowrap;
	font-size: 14px !important;
	display: flex !important;
	align-items: center;
	gap: 10px;
}

.mdc-tab__text-label>span.tab-title {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mdc-tab__text-label>.content-available {
	font-size: 25px;
	font-weight: bold;
	color: var(--bf-theme-primary)
}

.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
	border-color: var(--bf-theme-primary) !important;
}

.mdc-tab__ripple::before,
.mdc-tab__ripple::after {
	background-color: unset !important;
}

.skeleton-row {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.skeleton-sentences {
	padding: 20px;
}

.grid-block {
	height: 130px;
	width: 140px;
}

.medium-grid-block {
	height: 200px;
	width: 140px;
}

.large-grid-block {
	height: 300px;
	width: 100%;
}

.mdc-tab-indicator {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.safe-area-fix {
	padding-top: 25px;
}

.list-layout {
	overflow: auto;
}

.empty_state {
	margin: 0;
    height: 50vh;
	background-image: url('../../../../styles/media/empty.svg') !important;
    background-repeat: no-repeat !important;
    background-attachment: absolute !important;
    background-position: center !important;
}

.deeplink-item-skeleton{
	z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bf-theme-background);
}